.openInBrowser_OIB {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA6UlEQVRIS2NkoDFgpLH5DMPMAovpvx2YGBnnMzIyKJATdP//Mzz49/9/4olM1gMw/ShBZDXzzwOggDw5hsP0gCw5lsGiiNUC65l//lNiOEzv0XQWuMNRfEA3C5BdQIqPYA4k6IMBs8Bq+p8EYM6xB0ZiIjafUeQDkOGMTAzzQQYDU8oCbJaQbQGy4UjJEcMSsizAZjguS8iyADmssRlASB5rPsCVikYtYAAWdh+AYcaPnsZhQYYeRNiKFmBh9vBYOgu8NEaJA3BxzcS4AL1EJdYCkOH//v1PwFlck1LuEKt2mFWZxHqbFHUAcr6zGUWtsNAAAAAASUVORK5CYII=) 0 0 no-repeat;
}

.openInBrowser_tooltip {
    position: fixed;
    right: 40px;
    top: 50%;
    background-color: #005f8f;
    color: #eee;
    font-size: 2em;
    padding: 18px 22px 18px 6px;
    z-index: 99;
    border-radius: 4px;
}

.openInBrowser_tooltip > span {
    position: absolute;
    top: 2px;
    right: 6px;
    color: #eee;
    font-size: 14px;
}

.openInBrowser_tooltip:after {
    content: "";
    display: block;
    position: absolute;
    right: -7px;
    top: 15px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAUCAYAAABBECfmAAAAbElEQVQoU2NkwAMYaSRpPfPPgv+MzBOOpTFeQLeCESj5Hyj4AajAEV0BTBKkCUMBsiSGAnRJFAXYJOEKsEoCXfiRgZHZAUMSJgFyOYoksgTIbLgkugRcEpsEWNJqxu8JDEwsC7AGH42iDJ+xAB0OTRuHfTAFAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    z-index: 2;
    width: 7px;
    height: 20px;
}
